* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

#appContainer {
  margin-top:25vh;
  margin-bottom:25vh;
  margin-left:25vw;
  margin-right:25vw;
}

body {
  background-color:#E8E7E7;
}