* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

#appContainer {
  width: 60vw;
  height: 70vh;
  margin: auto;
  position: absolute;
  top: 0; left: 0; bottom: 0; right: 0;
}

body {
  background-color:#E8E7E7;
}

@media only screen and (max-width:800px) {
  #appContainer {
    width: 90vw;
    height:90vh;
  }
}

@media only screen and (max-width:500px) {
  #appContainer {
    width: 97vw;
  }
}